<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= @title || current_page.data.title %>
    </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "base" %>

    <link rel="icon" type="image/png" href="../../dist/images/favicon.png">

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
      <div class="navbar-spacer"></div>
      <nav class="navbar text-center">
            <div class="container">
              <ul class="navbar-list">
                <li class="navbar-item"><%= link_to 'About me', '/', :class => "navbar-link" %></li>
                <li class="navbar-item"><%= link_to 'Portfolio', '/portfolio', :class => "navbar-link" %></li>
                <li class="navbar-item"><%= link_to 'Blog', '/blog', :class => "navbar-link" %></li>
                <li class="navbar-item"><%= link_to 'Contact', '/contact', :class => "navbar-link" %></li>
              </ul>
            </div>
          </nav>

    <div class="container text-center">
      <%= yield %>
    </div>
  </body>
</html>
