---
pageable: true
per_page: 5
layout: blog
title: "Blog"
---

<div class="row text-left">
  <% page_articles.each_with_index do |article, i| %>
  <article class="preview">
      <h2><%= link_to article.title, article %></h2>
      <span class="text-muted"><%= article.date.strftime('%B %eth, %Y') %></span>
      <p>
        <%= Nokogiri::HTML(article.summary).text %>
      </p>

      <%= link_to "Read more...", article, :class => "button button-primary" %>
  </article>
  <% end %>
</div>


<span>Page <%= page_number %> of <%= num_pages %></span>

<div class="row">
<% if paginate && num_pages > 1 %>
  <% if prev_page %>
      <p><%= link_to '< Previous page', prev_page, :class => 'button button-primary u-pull-left' %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <%= link_to 'Next page >', next_page, :class => 'button button-primary u-pull-right' %>
  <% end %>
<% end %>
</div>
