---
title: "About me"
---




<div class="row">
  <div class="offset-by-one-third one-third column"><%= image_tag 'personal-picture.jpg', :class => 'about-me u-max-full-width' %></div>
</div>
<h1 class="name">Christian Broekmeulen</h1>
<p class="text-muted">
  Dutchman currently studying Marketing at the University of the West of Scotland with a strong affinity in webdevelopment.
</p>

<div class="row social-icons">
  <a href="https://twitter.com/ChristianB38" target="_blank"><span class="icon-twitter"></span></a>
  <a href="https://github.com/ChrisjuhNL" target="_blank"><span class="icon-github"></span></a>
  <a href="https://www.drupal.org/u/cbr" target="_blank"><span class="icon-drupal"></span></a>
  <a href="https://www.linkedin.com/in/cbroekmeulen" target="_blank"><span class="icon-linkedin"></span></a>
  <a href="contact"><span class="icon-mail" target="_blank"></span></a>
</div>

<div class="row">
  <span class="text-muted">©2015 Some rights reserved [<%= link_to 'CC BY-NC 3.0', 'https://creativecommons.org/licenses/by-nc/3.0/', :target => '_BLANK' %>]</span>
</div>
<div class="row">
  <span class="text-muted">
    Built using <%= link_to 'Middleman', 'https://middlemanapp.com/', :target => '_BLANK' %> &
    <%= link_to 'Skeleton', 'http://getskeleton.com/', :target => '_BLANK' %>
  </span>
</div>

<div class="row"><%= link_to 'Source Code', 'https://github.com/ChrisjuhNL/christian.broekmeulen.me', :target => '_BLANK' %></span></div>
