---
title: "Portfolio"
---
<div class="row portfolio">

  <div class="row">
    <div class="six columns">
      <h2>Drupal 8</h2>
      <%= image_tag 'drupal8.jpg', :class => 'u-max-full-width portfolio-img' %>
      <p class="text-muted">
        Contributed to several open-source modules such as <%= link_to 'Ultimate Cron', 'https://www.drupal.org/project/ultimate_cron', :target => '_BLANK' %>,
        <%= link_to 'Currency', 'https://www.drupal.org/project/currency', :target => '_BLANK' %>, <%= link_to 'Payment', 'https://www.drupal.org/project/payment', :target => '_BLANK' %>
        and several core issues.
      </p>
    </div>

       <div class="six columns">
          <h2>christian.broekmeulen.me</h2>
          <%= image_tag 'personal-website.jpg', :class => 'u-max-full-width portfolio-img' %>
          <p class="text-muted" >
            Created my own personal website using <%= link_to 'Middleman', 'https://middlemanapp.com', :target => '_BLANK' %> and
            <%= link_to 'Skeleton', 'http://getskeleton.com/', :target => '_BLANK' %>. Running on <%= link_to 'Ubuntu Server 14.04', 'http://releases.ubuntu.com/14.04/', :target => '_BLANK' %>
            with <%= link_to 'nginx', 'http://nginx.org/en/', :target => '_BLANK' %>.
          </p>
        </div>
  </div>

    <div class="row">
      <div class="six columns">
        <h2>Kinnusenmylly.fi</h2>
        <%= image_tag 'kinnusenmylly.jpg', :class => 'u-max-full-width portfolio-img' %>
        <p class="text-muted">
            Drupal 7 project completely themed and functional.
        </p>
      </div>

         <div class="six columns">
            <h2>Serla.com</h2>
            <%= image_tag 'serla.jpg', :class => 'u-max-full-width portfolio-img' %>
            <p class="text-muted">
                Drupal 7 project completely themed and functional with <%= link_to 'internationalization', 'https://www.drupal.org/project/i18n', :target => '_BLANK' %> in several languages.
            </p>
          </div>
    </div>

</div>